.right__bar {
  position: fixed;
  width: 400px;
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: #e6ecf0;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.widgets__input input {
  border: none;
  background-color: #e6ecf0;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

/* trends for you */
.trends-for-you {
  border-radius: 15px;
  background: #f5f8fa;
  margin-bottom: 15px;
}

.trends-for-you__block {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

.trends-for-you__block:last-child {
  border-bottom: none;
}

.trends-for-you__heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.trends-for-you__meta-information {
  font-size: 13px;
  font-weight: 300;
  color: #657786;
}

.trends-for-you__trend-name {
  font-size: 15px;
  color: #14171a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}

.who-to-follow {
  background: #f5f8fa;
  border-radius: 15px;
}

.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}
