.user_card {
  background: #f5f8fa;
  border-radius: 15px;
  margin: 10px 10px;
}

.user_card_block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.user_card_image {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.user_card_username {
  color: #657786;
  font-size: 15px;
}

.user_card_name {
  font-size: 15px;
  font-weight: 700;
}

.user_card_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user_card_follow_button {
  border: 1px solid #1da0f2;
  color: #1da0f2;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}
.user_card_follow_button:hover {
  background: #1da0f2;
  color: white;
}

.user_card_unfollow_button {
  border: 1px solid #d9534f;
  color: #d9534f;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}

.user_card_unfollow_button:hover {
  background: #d9534f;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
