<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>
<div class="container">
  <div class="row">
    <div class="col-xl-3">
      <app-left-nav> </app-left-nav>
    </div>
    <div class="class col-xl-5">
      <app-profile-card></app-profile-card>
      <app-profile-tweets-list></app-profile-tweets-list>
    </div>
    <div class="class col-xl-4">
      <app-right-pane></app-right-pane>
    </div>
  </div>
</div>
